@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  /* light mode color */
  --primary: #226e17;
  --secondary: #6fdd5f;
  --accent: #eeb711;

  /* dark mode color */
  --dark-primary: #222526;
  --dark-secondary: #788387;
  --dark-accent: #f1c337;

  --light: #fff;
  --dark: #161b1d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
